## 1. 데이터 불러오기

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
data1 = pd.read_csv('C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/train.csv')
data2 = pd.read_csv('C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/test.csv')
data3 = pd.read_csv('C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/tatoeba_data.csv')

In [3]:
data = pd.concat([data1, data2, data3])

In [4]:
data = data.reset_index(drop=True) # 0~20만, 0~20만 이런 인덱스까지 concat 되었던 것을 초기화, 다시 인덱스 주었다

In [5]:
data

,Korean,English
0,경기도가 평화시대를 맞아 통일문제를 보다 쉽고 재미있게 다가갈 수 있도록 통일전문 ...,Gyeonggi-do Province will collaborate with the...
1,우선 현재 강원 동해안을 제외한 중부 지방과 호남 서해안에 약하게 눈이 내리거나 눈...,"First of all, it is currently snowing slightly..."
2,아직 구체적인 의제가 확정된 것은 아니지만 지난 19일 한미 국방부가 발표한 UFG...,"The specific agenda has not been decided yet, ..."
3,이시기의 남자아이에게는 레고 시티나 레고 닌자고 시리즈를 추천합니다.,Lego City and the series Lego Ninjago are reco...
4,손 대표로선 이날 지도부 회의에서 최고위원들을 중심으로 “사퇴하라”는 요구가 나온 ...,The representive Sohn apparently chose to make...
...,...,...
1606021,내일 와.,Come tomorrow.
1606022,나도 너랑 같은 처지야.,I'm in the same boat as you.
1606023,내가 끔찍한 실수를 저지른 것 같아.,I think I've made a horrible mistake.
1606024,그 사람은 자기 이름을 싸인하는 법조차 몰라.,He does not even know how to sign his name.
1606025,톰은 메리라는 캐나다 여성이랑 결혼했어.,Tom is married to a Canadian woman named Mary.

In [6]:
Kor_list = list(data['Korean']) #모든 한글 문장이 담긴 리스트
Eng_list = list(data['English']) #모든 영어 문장이 담긴 리스트

print(Kor_list[:5])
print("\n")
print(Eng_list[:5])

['경기도가 평화시대를 맞아 통일문제를 보다 쉽고 재미있게 다가갈 수 있도록 통일전문 팟캐스트 <남북상열지사>와 콜라보레이션을 진행한다.', '우선 현재 강원 동해안을 제외한 중부 지방과 호남 서해안에 약하게 눈이 내리거나 눈발이 조금 날리고 있습니다.', '아직 구체적인 의제가 확정된 것은 아니지만 지난 19일 한미 국방부가 발표한 UFG 연합훈련중단에 따른 세부협의를 진행할 것으로 관측된다.', '이시기의 남자아이에게는 레고 시티나 레고 닌자고 시리즈를 추천합니다.', '손 대표로선 이날 지도부 회의에서 최고위원들을 중심으로 “사퇴하라”는 요구가 나온 가운데 정면 돌파를 택한 셈이다.']


['Gyeonggi-do Province will collaborate with the unification special podcast <Love Song Between North and South Korea> in order to approach the issue of unification in easier and more fun ways in the time of peace.', 'First of all, it is currently snowing slightly or snow flutters lightly son the central region and the west coast of Honam except the east coast of Gangwon.', 'The specific agenda has not been decided yet, but it is expected to proceed with detailed consultations following the suspension of the UFG coalition training announced by the US Department of Defense on the 19th.', 'Lego City and the series Lego Ninjago are recommended to the boys of this age.', 'The representive Sohn apparently chose to make a head-on breakthrough during the leadership meeting amid the calls for his resignation led by the supreme council members.']

In [7]:
result = list(zip(Kor_list,Eng_list))

random.shuffle(result)
result 

Kor_list, Eng_list = zip(*result)

In [8]:
dict_ = {"Korean": [], "English" : []}
dict_["Korean"] = Kor_list
dict_["English"] = Eng_list

In [9]:
data = pd.DataFrame(dict_)
data

,Korean,English
0,그녀는 이 음식점에서 먹기를 원했습니다.,She wanted to have food at this restaurant.
1,서 검사는 “이게 일반적인 사건이라면 그렇게 (피해자 의사를) 세분화해서 들어가야 ...,"”If this is a common case, we should go into d..."
2,"최근 페이스북과 유튜브, 애플 등이 편파적 발언으로 혐오와 음모론을 확산시킨다며 <...","Recently, Facebook, YouTube, and Apple have de..."
3,"네, 금액은 30,000원이고 결제는 어떻게 하시겠어요?","It's 30,000 won and how would you like to pay?"
4,가수 정인이 딸 조은 양의 일상을 공개했다.,Singer Jung-in revealed the daily lives of her...
...,...,...
1606021,구청장은 제1항에 따른 무단방치 자전거 회수 및 수리 업무를 위탁할 수 있다.,The head of the Gu may entrust affairs related...
1606022,나는 어렸을 적부터 장난이 많고 웃음이 많은 아이였어요.,"Since I was a child, I was a playful and laugh..."
1606023,서울대병원(원장 서창석)은 박창민 영상의학과 교수와 인공지능(AI) 기업 루닛 공동...,"""Seoul National University Hospital (President..."
1606024,비핵화를 둘러싼 북미의 기싸움이 장기전 양상으로 돌입하고 있다.,The North Korea-U.S. staring contest over denu...
1606025,"그럼 제가 평소에 입던 거랑 똑같군요, L 사이즈를 주문해야겠어요.","Then it's the same as what I usually wear, I w..."

## 2. 데이터 중복 검사 및 제거

In [10]:
data.describe()

             Korean                                            English
count       1606026                                            1606026
unique      1603111                                            1601859
top     뭔가 할 말이 있니?  Korea went to the public hearing with everyone...
freq              5                                                 27

In [11]:
data.duplicated().sum()

2497

In [12]:
data = data.drop_duplicates()

In [13]:
data.duplicated().sum()

0

In [14]:
data = data.reset_index(drop=True) # 0~20만, 0~20만 이런 인덱스까지 concat 되었던 것을 초기화, 다시 인덱스 주었다

In [15]:
data

,Korean,English
0,그녀는 이 음식점에서 먹기를 원했습니다.,She wanted to have food at this restaurant.
1,서 검사는 “이게 일반적인 사건이라면 그렇게 (피해자 의사를) 세분화해서 들어가야 ...,"”If this is a common case, we should go into d..."
2,"최근 페이스북과 유튜브, 애플 등이 편파적 발언으로 혐오와 음모론을 확산시킨다며 <...","Recently, Facebook, YouTube, and Apple have de..."
3,"네, 금액은 30,000원이고 결제는 어떻게 하시겠어요?","It's 30,000 won and how would you like to pay?"
4,가수 정인이 딸 조은 양의 일상을 공개했다.,Singer Jung-in revealed the daily lives of her...
...,...,...
1603524,구청장은 제1항에 따른 무단방치 자전거 회수 및 수리 업무를 위탁할 수 있다.,The head of the Gu may entrust affairs related...
1603525,나는 어렸을 적부터 장난이 많고 웃음이 많은 아이였어요.,"Since I was a child, I was a playful and laugh..."
1603526,서울대병원(원장 서창석)은 박창민 영상의학과 교수와 인공지능(AI) 기업 루닛 공동...,"""Seoul National University Hospital (President..."
1603527,비핵화를 둘러싼 북미의 기싸움이 장기전 양상으로 돌입하고 있다.,The North Korea-U.S. staring contest over denu...
1603528,"그럼 제가 평소에 입던 거랑 똑같군요, L 사이즈를 주문해야겠어요.","Then it's the same as what I usually wear, I w..."

In [ ]:
#data.to_csv("datalist.csv", encoding = 'utf-8-sig', index = False, mode = "w")

## 3. 문장별 단어 개수 파악 & 문제 파악

In [16]:
kor_word_cnt = []
eng_word_cnt = []
for i in range(len(data)):
    kor_word_cnt.append(len(data['Korean'][i].split(" ")))
    eng_word_cnt.append(len(data['English'][i].split(" ")))

In [17]:
data["Korean_word_count"] = kor_word_cnt
data["English_word_count"] = eng_word_cnt

### (1) 단어 개수 별 정렬해 데이터 확인 & 문제 수정

In [18]:
kor_sorted = data.sort_values(by=['Korean_word_count'], axis=0, ascending=False)

In [19]:
kor_sorted = kor_sorted.reset_index(drop=True)
kor_sorted.head()

,Korean,English,Korean_word_count,English_word_count
0,의심의 여지 없이 세상에는 어떤 남자이든 정확히 딱 알맞는 여자와 결혼하거나 그 반...,Doubtless there exists in this world precisely...,89,101
1,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...,78,165
2,제8조의2(과태료의 부과 및 징수) ① 제8조제1항의 요구를 받은 자가 이에 따를 ...,Article 8-2 (Imposition and Collection of Fine...,71,139
3,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...,64,158
4,「옥외광고물 등의 관리와 옥외광고산업 진흥에 관한 법률 시행령」(이하 “영”이라 한...,Where filing an application for permission in ...,62,122

In [20]:
kor_sorted[0:10]

,Korean,English,Korean_word_count,English_word_count
0,의심의 여지 없이 세상에는 어떤 남자이든 정확히 딱 알맞는 여자와 결혼하거나 그 반...,Doubtless there exists in this world precisely...,89,101
1,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...,78,165
2,제8조의2(과태료의 부과 및 징수) ① 제8조제1항의 요구를 받은 자가 이에 따를 ...,Article 8-2 (Imposition and Collection of Fine...,71,139
3,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...,64,158
4,「옥외광고물 등의 관리와 옥외광고산업 진흥에 관한 법률 시행령」(이하 “영”이라 한...,Where filing an application for permission in ...,62,122
5,구청장은 신·재생에너지의 보급 확대를 위하여 행정재산 및 일반재산을 사용·수익허가 ...,In order to increase the supply of new and ren...,61,133
6,“음식물류 폐기물 다량배출사업장”이란 「폐기물관리법 시행령」 제8조의4에서 정한 음...,"The term ""Business sites discharging large amo...",59,141
7,이 조례에 따라 구세를 감면받고자 하는 자는 「지방세특례제한법 시행규칙」 별지 제1...,Any person who intends to receive a reduction ...,59,148
8,서울특별시 노원구청장(이하 “구청장”이라 한다)은 위임받은 서울특별시 시세(이하 “...,The head of Nowon-gu Seoul Metropolitan Govern...,56,156
9,"구청장은 「비영리민간단체지원법」에 따른 비영리 민간단체, 「민법」에 따른 비영리 법...",The head of the Gu may designate organizations...,54,99

In [21]:
kor_sorted[-10:]

,Korean,English,Korean_word_count,English_word_count
1603519,열두가지 재주 있는 사람이 밥을 굶어.,"Jack of all trades, and master of none.",1,8
1603520,수정해드릴게요.,I will change it.,1,4
1603521,겉만 보고 판단하지 마세요.,All is not gold that glitters.,1,6
1603522,실제로 학생들이 사용하는 곳이며 관광객들에게 있는 명소입니다.,Students use this place and is an attraction f...,1,10
1603523,잊어버렸어.,I forgot.,1,2
1603524,친구와 포도주는 오래된 것이 좋습니다.,Old friends and old wine are best.,1,7
1603525,물론이죠.,Of course.,1,2
1603526,계획은 인간이 하고 성패는 하늘이 다룹니다.,Man proposes and God disposes.,1,5
1603527,축하해!,Congratulations!,1,1
1603528,안녕!,Goodbye!,1,1

#### 문제 발견 및 수정, 데이터 재저장

In [22]:
kor_sorted["Korean"][1603523]

'잊어버렸어.'

In [23]:
kor_sorted["Korean"][1603524]

'친구와\xa0포도주는\xa0오래된\xa0것이\xa0좋습니다.'

In [24]:
kor_sorted["Korean"][1603515]

'오는\xa0말이\xa0고와야\xa0가는\xa0말이\xa0곱습니다.'

중간의 \xa0 때문에 한 문장이 한 단어로 인식 되었었다. 전체 dataset의 \xa0 를 " " 로 대체해준다.  
다시 word를 카운트 해준다.

In [25]:
data.replace("\xa0", " ", regex=True, inplace=True)

In [ ]:
#data

---

---

### (2) 한글 문장 단어 개수 파악

In [27]:
kor_sorted = data.sort_values(by=['Korean_word_count'], axis=0, ascending=False)

KeyError: 'Korean_word_count'

In [ ]:
kor_sorted = kor_sorted.reset_index(drop=True)
kor_sorted.head()

In [ ]:
kor_sorted[-110:-90]

In [ ]:
kor_sorted["Korean"][1603427]

In [ ]:
kor_sorted[-130:-110]

위와 같이 띄어쓰기가 아예 이루어지지 않은 문장은 어떻게 해야할지 고민 필요.

In [ ]:
kor_sorted[0:20]

### (3) 영어 문장 단어 개수 파악

In [ ]:
eng_sorted = data.sort_values(by=['English_word_count'], axis=0, ascending=False)

In [ ]:
eng_sorted = eng_sorted.reset_index(drop=True)

In [ ]:
eng_sorted[:20]

In [ ]:
eng_sorted['English'][0]

In [ ]:
eng_sorted['English'][1]

In [ ]:
eng_sorted['English'][2]

In [ ]:
eng_sorted['English'][3]

In [ ]:
len(eng_sorted['English'][3].split(" "))

In [ ]:
len('"We will play the role of a hub for inter-Korean exchanges of performing arts and culture," said Kim Cheol-ho, 66, the new director of the National Theater of Korea, at an inaugural press conference held at a restaurant in Jongro-gu, Seoul on the 8th and he said, "We can invite North Korean national art troupe for the festival that will be held in 2020 for the 70th anniversary of our foundation."                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         '.split(" "))

In [ ]:
eng_sorted[-30:]

한글 데이터는 짧은 문장의 경우 띄어쓰기가 잘 안 이루어져 있음.
영어 데이터는 긴 문장의 경우 띄어쓰기가 지나치게 많이 들어가 있음.  
짧은 문장의 경우 검수 안된 문장들 . 혹은 x 등 많음.

## 4. 박스플롯 그려보기

In [ ]:
print("한글 문장 중 가장 적은 단어 개수 가진 문장은 ", min(kor_word_cnt))
print("한글 문장 중 가장 많은 단어 개수 가진 문장은 ", max(kor_word_cnt))
print("영어 문장 중 가장 적은 단어 개수 가진 문장은 ", min(eng_word_cnt))
print("영어 문장 중 가장 많은 단어 개수 가진 문장은 ", max(eng_word_cnt))

In [ ]:
fig, ax = plt.subplots(figsize = (12,8))
sns.boxplot(kor_word_cnt)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (12,8))
sns.boxplot(eng_word_cnt)
plt.show()

## 5. 데이터 저장하기

In [26]:
del data['Korean_word_count']
del data['English_word_count']

#data.to_csv("C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/datalist_modified.csv", encoding = 'utf-8-sig', index = False, mode = "w")