In [1]:
import pandas as pd

In [2]:
org_data = pd.read_csv('C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/datalist_modified.csv')

In [3]:
org_data.head()

,Korean,English
0,소수의 부유한 사람들을 위한 경제가 아니라 내가 속한 공동체에 보탬이 되는 경제 틀...,The city can do a better job of building an ec...
1,조사가 길어지면서 잦은 현장조사에 대해 비판이 나온다.,"As the investigation drags on, criticism comes..."
2,그가 1989년 미국에서 출간한 ‘디스커버링(Discovering)’은 위대한 과학...,"""Discovering,"" which he published in 1989 in t..."
3,당신이 생각했던것 처럼 병원비가 많이 나온건 알아요.,I know the hospital fee was really high as you...
4,"전반 8분, 상대 슈팅이 골대에 맞는 행운으로 위기를 넘긴 벨기에는 5분 뒤 행운의...","In the eight minutes of the first half, Belgiu..."

In [4]:
striped_eng = []
for line in org_data["English"]:
    striped_eng.append(line.strip(" "))

In [5]:
striped_kor = []
for line in org_data["Korean"]:
    striped_kor.append(line.strip(" "))

In [6]:
org_data["Korean"] = striped_kor
org_data["English"] = striped_eng

In [7]:
kor_word_cnt = []
eng_word_cnt = []
for i in range(len(org_data)):
    kor_word_cnt.append(len(org_data['Korean'][i].split(" ")))
    eng_word_cnt.append(len(org_data['English'][i].split(" ")))

In [8]:
org_data["Korean_word_count"] = kor_word_cnt
org_data["English_word_count"] = eng_word_cnt

In [9]:
eng_sorted = org_data.sort_values(by=['English_word_count'], axis=0, ascending=False)

In [10]:
eng_sorted.head()

,Korean,English,Korean_word_count,English_word_count
1416839,「조세특례제한법」제121조의2제5항제2호 및 제3호에 따른 외국인투자비율에 해당하는...,The amount of property tax falling under the f...,52,180
663665,「조세특례제한법」제121조의2제4항제1호 및 제2호에 따른 외국인투자비율에 해당하는...,For the property tax falling under the foreign...,46,172
547274,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...,78,165
35120,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...,64,158
153049,서울특별시 노원구청장(이하 “구청장”이라 한다)은 위임받은 서울특별시 시세(이하 “...,The head of Nowon-gu Seoul Metropolitan Govern...,56,156

In [13]:
len(eng_sorted["English"][1416839].split(" "))

180

In [14]:
eng_sorted["English"][1416839]

'The amount of property tax falling under the foreign investment ratio referred to in Article 121-2 (5) 2 and 3 of the Restriction of Special Taxation Act shall be calculated based on the amount of tax to be reduced or exempted (amount to be deducted) for five years from the date the relevant property is acquired pursuant to the proviso to the same paragraph. The amount of tax shall be exempted, and 50/100 of the amount of tax to be reduced or exempted (the amount to be deducted) for the following two years shall be reduced or exempted, and the amount of tax shall be reduced or exempted for the business subject to reduction or exemption under paragraph (1) 2-2 (2) 7 and 3 of the same Article. The foreign-invested property tax shall be exempted from the amount to be reduced or exempted (the amount to be deducted) for three years from the date the relevant property is acquired, and shall be reduced or exempted by 50/100 of the amount to be reduced or exempted (the amount to be deducted).'

In [15]:
eng_sorted["Korean"][1416839]

'「조세특례제한법」제121조의2제5항제2호 및 제3호에 따른 외국인투자비율에 해당하는 재산세는 같은 항 단서에 따라 해당 재산을 취득한 날부터 5년간 감면대상세액(공제대상금액)의 전액을 면제하고, 그 다음 2년간 감면대상세액(공제대상금액)의 100분의 50을 감면하며, 같은 조 제1항제2호의2부터 제2호의7까지 및 제3호에 따른 감면대상사업의 외국인투자비율에 해당하는 재산세는 해당 재산을 취득한 날부터 3년간 감면대상금액(공제대상금액)의 전액을 면제하고, 그 다음 2년간 감면대상금액(공제대상금액)의 100분의 50을 감면한다.'

In [16]:
kor_sorted = org_data.sort_values(by=['Korean_word_count'], axis=0, ascending=False)

In [17]:
kor_sorted.head()

,Korean,English,Korean_word_count,English_word_count
539215,의심의 여지 없이 세상에는 어떤 남자이든 정확히 딱 알맞는 여자와 결혼하거나 그 반...,Doubtless there exists in this world precisely...,89,101
547274,"일단의 토지면적이 특별시·광역시 및 시지역에서 1,000제곱미터 이하, 그 밖의 지...",Where land that has buildings that are not own...,78,165
143910,제8조의2(과태료의 부과 및 징수) ① 제8조제1항의 요구를 받은 자가 이에 따를 ...,Article 8-2 (Imposition and Collection of Fine...,71,138
35120,부칙 제2조「표 1」규정의 시행으로 감축되는 정원 27명(집행기관의 정원 27명)에...,Where there the current employees are in exces...,64,158
516984,「옥외광고물 등의 관리와 옥외광고산업 진흥에 관한 법률 시행령」(이하 “영”이라 한...,Where filing an application for permission in ...,62,122

In [18]:
org_data.head()

,Korean,English,Korean_word_count,English_word_count
0,소수의 부유한 사람들을 위한 경제가 아니라 내가 속한 공동체에 보탬이 되는 경제 틀...,The city can do a better job of building an ec...,20,26
1,조사가 길어지면서 잦은 현장조사에 대해 비판이 나온다.,"As the investigation drags on, criticism comes...",7,11
2,그가 1989년 미국에서 출간한 ‘디스커버링(Discovering)’은 위대한 과학...,"""Discovering,"" which he published in 1989 in t...",20,44
3,당신이 생각했던것 처럼 병원비가 많이 나온건 알아요.,I know the hospital fee was really high as you...,7,11
4,"전반 8분, 상대 슈팅이 골대에 맞는 행운으로 위기를 넘긴 벨기에는 5분 뒤 행운의...","In the eight minutes of the first half, Belgiu...",15,33

In [20]:
del org_data["Korean_word_count"]
del org_data["English_word_count"]

In [21]:
#org_data.to_csv("C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/datalist_striped.csv", encoding = 'utf-8-sig', index = False, mode = "w")