In [1]:
import pandas as pd

In [27]:
data = pd.read_csv("C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/English_datalist.csv")

In [28]:
data

                                                   English
0        The city can do a better job of building an ec...
1        As the investigation drags on, criticism comes...
2        "Discovering," which he published in 1989 in t...
3        I know the hospital fee was really high as you...
4        In the eight minutes of the first half, Belgiu...
...                                                    ...
1603524  On the other hand, when subsidies were given t...
1603525  In addition to this investment consultation me...
1603526  The corporation plans to hire remaining employ...
1603527         I found some photos from when I was young.
1603528  As the parcel prices of the knowledge industry...

[1603529 rows x 1 columns]

In [26]:
striped_eng = []
for line in data["English"]:
    striped_eng.append(line.strip(" "))

KeyError: 'English'

In [18]:
striped_kor = []
for line in data["Korean"]:
    striped_kor.append(line.strip(" "))

In [19]:
data["Korean"] = striped_kor
data["English"] = striped_eng

In [20]:
data

,Korean,English
0,소수의 부유한 사람들을 위한 경제가 아니라 내가 속한 공동체에 보탬이 되는 경제 틀...,The city can do a better job of building an ec...
1,조사가 길어지면서 잦은 현장조사에 대해 비판이 나온다.,"As the investigation drags on, criticism comes..."
2,그가 1989년 미국에서 출간한 ‘디스커버링(Discovering)’은 위대한 과학...,"""Discovering,"" which he published in 1989 in t..."
3,당신이 생각했던것 처럼 병원비가 많이 나온건 알아요.,I know the hospital fee was really high as you...
4,"전반 8분, 상대 슈팅이 골대에 맞는 행운으로 위기를 넘긴 벨기에는 5분 뒤 행운의...","In the eight minutes of the first half, Belgiu..."
...,...,...
1603524,이와 달리 취업이라는 조건을 달지 않고 영유아를 양육하는 여성에게 보조금을 줄 경우...,"On the other hand, when subsidies were given t..."
1603525,경기도는 금번 투자상담회 이외에도 금년 하반기에 러시아에서 투자설명회 개최를 검토하...,In addition to this investment consultation me...
1603526,"공사는 1차 채용된 직원 이외의 잔여직원(53명)을 조속히 채용할 계획이며, 새만금...",The corporation plans to hire remaining employ...
1603527,나는 내가 어렸을 적의 사진을 몇 장 찾았습니다.,I found some photos from when I was young.
1603528,서울에 위치하는 지식산업센터들의 분양가가 급상승하며 이에 부담을 느낀 기업들이 경기...,As the parcel prices of the knowledge industry...

In [21]:
#del data['Korean']
del data['English']

In [22]:
data

                                                    Korean
0        소수의 부유한 사람들을 위한 경제가 아니라 내가 속한 공동체에 보탬이 되는 경제 틀...
1                           조사가 길어지면서 잦은 현장조사에 대해 비판이 나온다.
2        그가 1989년 미국에서 출간한 ‘디스커버링(Discovering)’은 위대한 과학...
3                            당신이 생각했던것 처럼 병원비가 많이 나온건 알아요.
4        전반 8분, 상대 슈팅이 골대에 맞는 행운으로 위기를 넘긴 벨기에는 5분 뒤 행운의...
...                                                    ...
1603524  이와 달리 취업이라는 조건을 달지 않고 영유아를 양육하는 여성에게 보조금을 줄 경우...
1603525  경기도는 금번 투자상담회 이외에도 금년 하반기에 러시아에서 투자설명회 개최를 검토하...
1603526  공사는 1차 채용된 직원 이외의 잔여직원(53명)을 조속히 채용할 계획이며, 새만금...
1603527                        나는 내가 어렸을 적의 사진을 몇 장 찾았습니다.
1603528  서울에 위치하는 지식산업센터들의 분양가가 급상승하며 이에 부담을 느낀 기업들이 경기...

[1603529 rows x 1 columns]

In [23]:
data.to_csv("C:/Users/Soyoung Cho/Desktop/NMT Project/dataset/Korean_datalist.csv", encoding = 'utf-8-sig', index = False, mode = "w")